body {
  margin: 0 auto;
  box-sizing: border-box;

  font-family: Raleway, sans-serif;
}

.main {
  padding-top: 60px;
  height: 100vh;

  /* position: relative; */

  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.border {
  border: 5px red solid;
}
