html {
  height: 100%;
}

body {

  background-color: #FEC7EE;

  min-width: 800px;
  height: 100%;
  margin: 0;
  box-sizing: border-box;

  font-family: Raleway, sans-serif;

  padding-top: 60px;

  display: flex;
  justify-content: center;

  position: relative;
}

body::after {
  content: "";
  position: absolute;
  inset: 0;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.3);

  z-index: -1;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.border {
  border: 5px red solid;
}
