.title {
  color: #000;
  text-align: center;
  font-size: 116px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 4.06px;
  text-transform: uppercase;

  pointer-events: none;

  margin: 0;

  height: fit-content;
}

.title::after {
  content: "*";
  position: absolute;
  pointer-events: all;

}

.title:hover::before {
  content: "На самом деле нет. \A Важнее &mdash; научиться ошибаться.";
  white-space: pre-wrap;

  text-transform: none;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px; /* 100% */


  background: #fff;
  border-radius: 20px;
  border: 2px solid #000;

  position: absolute;

  text-align: left;
  padding: 36px 44px;

  box-shadow: 0 14px #000;

  height: fit-content;
  min-width: max-content;
}

@media screen and (min-width: 1821px) {
  .title {
    position: relative;
  }

  .title:hover::before {
    left: 405px;
    bottom: 144px;
  }
}

@media screen and (max-width: 1821px) {
  body {
    position: relative;
  }

  .title:hover::before {
    right: 22px;
    top: 182px;
  }
} 