.title {
    color: #000;
    text-align: center;
    font-size: 116px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 4.06px;
    text-transform: uppercase;

    margin: 0;
}

.title::after {
    content: "*";
    position: absolute;
}

.title:hover::after {
    content: "На самом деле нет. \A Важнее &mdash; научиться ошибаться.";
    white-space: pre-wrap;

    text-transform: none;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px; /* 100% */
    
    background: #fff;
    border-radius: 20px;
    border: 2px solid #000;

    /* width: 742px;
    height: 142px;
    flex-shrink: 0; */

    text-align: left;
    padding: 36px 44px;

    position: absolute;
    right: 0;
}